body {
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	object-fit: cover;
}

@media (max-width: 640px) and (orientation: landscape) {
	body {
		background-image: url('../images/background_landscape/w_778.jpg');
	}
}

@media (min-width: 641px) and (max-width: 1024px) and (orientation: landscape) {
	body {
		background-image: url('../images/background_landscape/w_1065.jpg');
	}
}

@media (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
	body {
		background-image: url('../images/background_landscape/w_1296.jpg');
	}
}

@media (min-width: 1201px) and (orientation: landscape) {
	body {
		background-image: url('../images/background_landscape/w_3840.jpg');
	}
}

@media (max-width: 380px) and (orientation: portrait) {
	body {
		background-image: url('../images/background_portrait/w_380.jpg');
	}
}

@media (min-width: 381px) and (max-width: 672px) and (orientation: portrait) {
	body {
		background-image: url('../images/background_portrait/w_672.jpg');
	}
}

@media (min-width: 673px) and (orientation: portrait) {
	body {
		background-image: url('../images/background_portrait/w_800.jpg');
	}
}
